<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
</head>
<body>
    <p><a href="/">Home</a></p>
    <h1>Add Student</h1>

    <form action="/addStudent" method="POST">
        <label>Student ID:</label>
        <input type="text" name="_sid"><br>
        <label>Name</label>
        <input type="text" name="name"><br>
        <label>Age</label>
        <input type="text" name="age"><br>
        <label>Action</label>
        <input type="text" name="update"><br>
        <input type="submit" value="OK">
    </form>
</body>
</html>
