<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Page title -->
    <title>Home</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h1 {
            text-align: left;
        }

        ul {
            list-style-type: circle;
            padding: 0;
        }

        li {
            margin: 5px 0;
        }
    </style>
</head>

<body>
    <h1>G00424657</h1>
    <nav>
        <ul>
            <!-- Link to the Students page -->
            <li><a href="/students">Students</a></li>
            </br>
            <!-- Link to the Grades page -->
            <li><a href="/grades">Grades</a></li>
            </br>
            <!-- Link to the Lecturers page -->
            <li><a href="/lecturers">Lecturers</a></li>
        </ul>
    </nav>

</body>

</html>